.app-edit-task-form{
  display: flex;
  flex-direction: column;
  position: relative;
  gap:1rem;
  .btns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
.p-dialog-content {
  overflow-y: none !important;
  flex-grow: 1;
}

