<p-dialog
  header="Edit task"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ maxWidth: '400px' }"
  [draggable]="false"
  [resizable]="false"
>
  <form  [formGroup]="editTaskForm" class="app-edit-task-form">
    <span>id {{ id ?id : "#" }}</span>
    <label>текст</label>
    <input type="text" pInputText formControlName="text" />
    <label>приоритет</label>
    <input type="text" pInputText  formControlName="priority"/>
    <div>
      <label>С</label>
      <p-calendar [showTime]="true"  appendTo="body"  [style]="{zIndex:'100'}" [showSeconds]="true"  formControlName="startDate"></p-calendar>
      <label>До</label>
      <p-calendar [showTime]="true" appendTo="body" [showSeconds]="true" formControlName="endDate"></p-calendar>
    </div>
    <p-dropdown
      [options]="taskCategories"
      [style]="{ width: '100%' }"
      optionLabel="title"
      [showClear]="true"
      placeholder="выберите категорию"
      formControlName="taskСategory"
    ></p-dropdown>
    <div class="btns">
      <p-button (onClick)="handlerCancelBtn()" label="cancel" severity="danger"></p-button
      ><p-button (onClick)="handlerSaveBtn()" label="save" severity="success"></p-button>
    </div>
  </form>
</p-dialog>
