<p-confirmDialog></p-confirmDialog>
<div class="task-table">
  <p-table
    styleClass="p-column-resizer-helper"
    [value]="tasks"
    [(selection)]="selectedTasks"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    (selectionChange)="handlerSelectedChange()"
  >
    <ng-template pTemplate="caption">
      <div class="head-table">
        <p-button
          icon="pi pi-plus"
          [label]="addLabelBtn"
          (onClick)="handlerOpenEditorTaskForNew()"
        ></p-button>
        <p-button
          [label]="editTaskCategoriesLabelBtn"
          (onClick)="handlerOpenEditorTaskCategories()"
        ></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 25%">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>

        <th pSortableColumn="text">
          {{ textLabelTh }} <p-sortIcon field="text"></p-sortIcon>
        </th>
        <th pSortableColumn="priority">
          {{ priorityLabelTh }} <p-sortIcon field="priority"></p-sortIcon>
        </th>
        <th pSortableColumn="categoryId">
          {{ categoryLabelTh }}<p-sortIcon field="categoryId"></p-sortIcon>
        </th>
        <th >
          {{ deadlineLabelTh }}
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr>
        <td>
          <p-tableCheckbox [value]="task"></p-tableCheckbox>
        </td>
        <td>{{ task.text }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ getCategories(task) }}</td>

        <td>
          <div class="dates">
            <label>{{ task.startDate | date: "yyyy-MM-dd HH:mm" }}</label
            ><label>{{ task.endDate | date: "yyyy-MM-dd HH:mm" }}</label>
          </div>
        </td>

        <td>
          <p-button
            icon="pi pi-pencil"
            (click)="handlerOpenEditorTask(task.id)"
          ></p-button
          ><p-button
            icon="pi pi-times"
            (click)="confirmDelete(task.id)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
