<div class="task-table" >

  <p-table
    [value]="tasks"
    [(selection)]="selectedTasks"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"

  >
  <ng-template pTemplate="caption">
    <div class="head-table">
       <p-button icon="pi pi-plus" label="add"></p-button>
        <p-button  label="edit task categories"></p-button>

    </div>
</ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 25%">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 25%">title</th>
        <th style="width: 25%">priority</th>
        <th style="width: 25%">category</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr>
        <td>
          <p-tableCheckbox [value]="task"></p-tableCheckbox>
        </td>
        <td>{{ task.id }}</td>
        <td>{{ task.text }}</td>
        <td>{{ task.priority }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
