<p-dialog
  [header]="titleDialog"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ maxWidth: '400px' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="handlerHideDialog()"
>
  <div class="app-edit-task-categories-form">
    <div>
      <app-item
        *ngFor="let category of taskCategories"
        [category]="category"
      ></app-item>
    </div>
    <form class="add" [formGroup]="addCategoryForm">
      <input type="text" pInputText formControlName="categoryName" />
      <p-button (onClick)="handlerAddBtn()" [label]="addLabelBtn"></p-button>
    </form>
  </div>
</p-dialog>
