<form [formGroup]="registerForm"  class="login-form">
  <h1>Авторизация</h1>
  <div class="inputs">
    <label>Имя</label>
    <input type="text" pInputText formControlName="name" autocomplete="name" />
    <label>Логин</label>
    <input type="text" pInputText formControlName="login" autocomplete="login" />
    <label>Пароль</label>
    <p-password
      formControlName="password"
      [style]="{ display: 'flex', flexDirection: 'column' }"

      [toggleMask]="true"
      autocomplete="current-password"
    ></p-password>
    <label>Повторите пароль</label>
    <p-password
      formControlName="repeatPassword"
      [style]="{ display: 'flex', flexDirection: 'column' }"
      [feedback]="false"
      [toggleMask]="true"
      autocomplete="current-password"
      [required]="true"
    ></p-password>
  </div>

  <p-button (onClick)=" handlerRegisterBtn()" label="Зарегистрироваться"></p-button>
  <div>
    <span>Уже зарегистрированы?<a href="/login">Войти</a></span>
  </div>
</form>
